<div class="scratchpad-wrap{{#unless execFile}} no-output{{/unless}}">
    <!-- Canvases (Drawing + Output) -->
    <div class="scratchpad-canvas-wrap">
        <div id="output">
            <!-- Extra data-src attribute to work around
                 cross-origin access policies. -->
            {{#if execFile}}
                <iframe id="output-frame"
                    src="{{execFile}}"
                    data-src="{{execFile}}"></iframe>
            {{/if}}
            <canvas class="scratchpad-draw-canvas" style="display:none;"
                width="400" height="400"></canvas>

            <div class="overlay disable-overlay" style="display:none;">
            </div>

            <div class="scratchpad-canvas-loading">
                <img src="{{imagesDir}}spinner-large.gif">
                <span class="hide-text">{{#_}}Loading...{{/_}}</span>
            </div>
        </div>

        <div class="scratchpad-toolbar">
            <div class="error-buddy-resting">
                <div class="error-buddy-happy" style="display:none;">
                    <img src="{{imagesDir}}creatures/OhNoes-Happy.png"/>
                </div>
                <a class="error-buddy-thinking" style="display:none;" href="javascript:void()">
                    <img src="{{imagesDir}}creatures/OhNoes-Hmm.png"/>
                    {{! I18N: The CS error buddy is thinking there might be an error in your code and is waiting for you to fix it !}}
                    {{#_}}Dude!{{/_}}
                </a>
            </div>
            <div id="btn-loader"></div>
            <button id="restart-code"
                class="simple-button pull-right smartcode-button">
                <span class="icon-refresh"></span>
                {{#_}}Restart{{/_}}</button>
            <button id="save-code"
                    class="simple-button pull-right smartcode-button">
                <span class="icon-refresh"></span>
                {{#_}}Save{{/_}}</button>

            <!-- Widgets for selecting colors to doodle on the canvas during
                recordings -->
            <div id="draw-widgets" style="display:none;">
                <a href="" id="draw-clear-button" class="ui-button">
                    <span class="ui-icon-cancel"></span>
                </a>
                {{#each colors}}
                <a href="" class="draw-color-button" id="{{this}}">
                    <span></span>
                </a>
                {{/each}}
            </div>

            <!-- Record button -->
            <button id="record" class="simple-button pull-left" style="display:none;">{{#_}}Record{{/_}}</button>
        </div>
    </div>

    <!-- Editor -->
    <div class="scratchpad-editor-wrap overlay-container">
        <div class="scratchpad-editor-tabs">
          <div id="scratchpad-code-editor-tab" class="scratchpad-editor-tab">
            <div class="scratchpad-editor scratchpad-ace-editor"></div>
            <div class="overlay disable-overlay" style="display:none;">
            </div>

            <div class="scratchpad-editor-bigplay-loading" style="display:none;">
                <img src="{{imagesDir}}spinner-large.gif">
                <span class="hide-text">{{#_}}Loading...{{/_}}</span>
            </div>

            <!-- This cannot be removed, if we want Flash to keep working! -->
            <div id="sm2-container">
                {{#_}}Enable Flash to load audio:{{/_}}
                <br>
            </div>

            <button class="scratchpad-editor-bigplay-button" style="display:none;">
                <span class="icon-play"></span>
                <span class="hide-text">{{#_}}Play{{/_}}</span>
            </button>
          </div>
        </div>

        <div class="scratchpad-toolbar">
            <!-- Row for playback controls -->
            <div class="scratchpad-playbar" style="display:none;">
                <div class="scratchpad-playbar-area" style="display:none;">
                    <button
                        class="simple-button primary scratchpad-playbar-play"
                        type="button">
                        <span class="icon-play"></span>
                    </button>

                    <div class="scratchpad-playbar-progress"></div>

                    <span class="scratchpad-playbar-timeleft"></span>
                </div>
                <div class="loading-msg">
                    {{#_}}Loading audio...{{/_}}
                </div>
            </div>
            <div class="scratchpad-debugger"></div>
        </div>

        <div class="scratchpad-toolbar scratchpad-dev-record-row" style="display:none;"></div>
    </div>
</div>
